<%= form_with(model: team) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <p>Add user</p>
  <%= form.collection_select :user, User.order(:name), :user, :name, prompt:true %>
  <p>Remove user</p>
  <%= form.collection_select :user, User.order(:name), :user, :name, prompt:true %>
  <%# TO-DO change remove user to only show current members of the team %>
  <%# TO-DO make is so that only students can be added to teams %>
  <div>Note: Edit the team multiple times to add/remove members</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
