<!-- Form partial for teams -->
<%= form_with(model: team) do |form| %>
  <!-- Display errors -->
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Teams need a name and an associated project -->
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <!-- The project is gotten from the parameters -->
  <div class="field">
    <%= form.hidden_field :project_id, :value => params[:project_id]  %> <!-- This hidden field assigns the team to a project -->
  </div>

  <div class="actions">
    <%= form.submit text, :class => 'btn btn-primary'  %>
  </div>
<% end %>
