<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
  <br>
  <strong>Members: </strong>
  <% if @team.users.count <= 0 %>
  None
  <% end %>
  <br>
  <ul>
  <% @team.users.each do |member| %>
    <li><%= link_to member.name, users_path + "/" + member.id.to_s %>
    <% if teaching_user? || system_user? %>
    <%= link_to 'Remove Member', memberships_path + "/" + Membership.where(user_id: member.id, team_id: @team.id).first.id.to_s, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></li>
    <% end %>
  <% end %>
  </ul>
</p>

<% if teaching_user? || system_user? %>
<%= link_to 'Add User', new_membership_path(:team_id => @team.id), :class => 'btn btn-primary' %>
<%= link_to 'Edit', edit_team_path(@team), :class => 'btn btn-warning' %>
<% end %>
<%= link_to 'Back', teams_path, :class => 'btn btn-danger' %>
