<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
  <br>
  <strong>Members:</strong>
  <br>
  <ul>
  <% @team.users.each do |member| %>
    <li><%= link_to member.name, "users/" + member.id.to_s %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
