<!-- Page for editing a user -->

<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages' %>

      <!-- User needs a name, email, and password -->
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %> <!-- password and password_confirmation must be equal -->
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <!-- Only a system user can update the access level of a user -->
      <% if system_user? %>
        <%= f.label :admin_level %>
        <%= f.text_field :admin_level, class: 'form-control' %>
      <% end %>
      
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    <!-- Link to gravatar asscoiated with the user's email -->
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="https://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>