<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <% if system_user? %>
      <th>Admin Level</th>
      <% end %>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <% if system_user? %>
        <td><%= user.admin_level %></td>
        <% end %>
        <td>
          <%= link_to 'Show', user, :class => 'btn btn-secondary' %>
          <% if system_user? %>
          <%= link_to 'Edit', edit_user_path(user), :class => 'btn btn-warning' %>
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, :class => 'btn btn-primary' %>