<!-- Page for showing a project -->

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>
<p>
  <!-- Link all teams that are a part of this project -->
  <strong>Teams:</strong>
  <br>
  <ul>
    <% @project.team_ids.each do |i| %>
      <% t = Team.find(i) %>
      <li><%= link_to t.name, teams_path + "/" + t.id.to_s %></li>
    <% end %>
  </ul>
</p>

<!-- Teaching/system users can create teams on this project, or edit the project name -->
<% if teaching_user? || system_user? %>
<%= link_to 'Create Team', new_team_path(:project_id => @project.id), :class => 'btn btn-primary' %>
<%= link_to 'Edit', edit_project_path(@project), :class => 'btn btn-warning' %>
<% end %>
<%= link_to 'Back', projects_path, :class => 'btn btn-danger' %>

