<p id="notice"><%= notice %></p>

<h1>Score Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @score_categories.each do |score_category| %>
      <tr>
        <td><%= score_category.name %></td>
        <td><%= link_to 'Show', score_category %></td>
        <td><%= link_to 'Edit', edit_score_category_path(score_category) %></td>
        <td><%= link_to 'Destroy', score_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Score Category', new_score_category_path %>
