<%= form_with(model: review) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% @eval = PeerEvaluation.find_by_id(params[:peer_evaluation_id]) %>
  <% @team = Team.find_by_id(@eval.team_id) if @eval != nil %>
  <% @user = User.find_by_id(@eval.reviewee) if @eval != nil %>

  <div class="field">
    <%= form.hidden_field :peer_evaluation_id, :value => @eval.id if @eval != nil %>
  </div>

  <div class="field">
    <%= form.label :team %>
    <%= form.text_field :team, :value => @team.name, :readonly => true if @team != nil %>
    <%= form.hidden_field :team_id, :value => @eval.team_id if @eval != nil %>
  </div>

  <div class="field">
    <%= form.label :reviewee %>
    <%= form.text_field :reviewee, :value => @user.name, :readonly => true if @user != nil %>
    <%= form.hidden_field :user_id, :value => @eval.user_id if @eval != nil %>
  </div>

  <div class="field">
    <%= form.label "Score" %>
    <%= form.select :score, 0..10 %>
  </div>

  <div class="field">
    <%= form.label "Comments" %>
    <%= form.text_area :comment %>
  </div>

  <div class="actions">
    <%= form.submit "Complete", :class => 'btn btn-success' %>
  </div>
<% end %>
