<p id="notice"><%= notice %></p>

<h1>Reviews</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Team</th>
      <th>Reviewer</th>
      <th>Reviewee</th>
      <th>Score</th>
      <th>Comment</th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.where(team_id: params[:team_id]).collect.each do |review| %>
      <tr>
        <% @t = Team.find(review.team_id) %>
        <td><%= Project.find(@t.project_id).name %></td>
        <td><%= @t.name %></td>
        <td><%= User.find(review.user_id).name %></td>
        <td><%= User.find(PeerEvaluation.find(review.peer_evaluation_id).reviewee).name %></td>
        <td><%= review.score %></td>
        <td><%= review.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', teams_path, :class => 'btn btn-danger' %>
