<!-- Display a single peer evaluation -->

<p id="notice"><%= notice %></p>

<!-- Displays entire peer_evaluation/review pairing (team, project, reviewer, reviewee, score, comment) -->
<p>
  <% @t = Team.find_by_id(@review.team_id) %>
  <strong>Project:</strong>
  <%= Project.find_by_id(@t.project_id).name if @t != nil %>
  <br>
  <strong>Team:</strong>
  <%= @t.name if @t != nil %>
  <br>
  <strong>Reviewer:</strong>
  <% @u = User.find_by_id(@review.user_id) %>
  <%= @u.name if @u != nil %>
  <br>
  <strong>Reviewee:</strong>
  <% @p = PeerEvaluation.find_by_id(@review.peer_evaluation_id) %>
  <% @u2 = User.find_by_id(@p.reviewee) if @p != nil %>
  <%= @u2.name if @u2 != nil %>
  <br>
  <strong>Score:</strong>
  <%= @review.score %>
  <br>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<% @p.update_attribute :completed, true if @p != nil %> <!-- Prevents review from being re-submitted -->

<%= link_to 'Back', peer_evaluations_path, :class => 'btn btn-danger' %>
